body,
p,
td,
table,
tr,
th {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.sidebar {
    background-image: url('/img/imagenespe.jpg');  
    background-size: cover;
    width: 230px;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    padding-top: 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}


.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: flex;
    align-items: center;
}

.sidebar a .material-icons {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #55595e;
    color: #ffffff;
}

.logout-btn {
    color: #000000;
    border: none;
    width: 100%;
    position: relative;
}

.logout-btn:hover {
    background-color: #ffff;
}

.navbar-brand {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    max-height: 30px;
    margin-right: 10px;
}

.content {
    min-height: calc(100vh - 80px);
    margin-left: 230px;
     
    padding: 20px;
    margin-bottom: 80px;
    transition: min-height 0.3s ease;
}

.footer {
    background-color: #00713d;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: 10%;
    z-index: 1;  
}




.logo-container {
    background-color: #ffffff;
    position: fixed;
    width: 230px;
    height: 80px;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.logo-image {
    width: 150px;
    height: 50px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
}

.dropdown-menu {
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
}

.dropdown-item {
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
}

.dropdown-item:hover {
    background-color: #ffff;
}

.sidebar-links {
    margin-top: 80px;
    z-index: 1;
}

.sidebar-links a.active {
    background-color: #55595e;
    color: #ffffff;
}

.dropdown:hover .content {
    min-height: calc(100vh - 220px);
}